html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.5em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  color: #8a8a79;
  background: black;
}
* {
  box-sizing: content-box;
}
a:link {
  color: #c0f048;
  text-decoration: none;
  font-weight: normal;
}
a:visited {
  color: #c0f048;
  text-decoration: none;
  font-weight: normal;
}
h1 {
  margin: 0px;
  padding: 2px 0;
  font-size: 30px;
  font-weight: bold;
}
h2 {
  margin: 0px;
  padding: 2px 0;
  font-size: 30px;
  font-weight: normal;
}
h3 {
  margin: 15px 0 0;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  color: #8a8a79;
}
h4 {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  font-weight: bold;
}
header {
  width: 100%;
  height: 100px;
  background: #191d20;
  border-bottom: 1px solid #8a8a79;
}
header #header_content {
  width: 980px;
  height: 100%;
  margin: 0 auto;
}
header #header_content h1 {
  float: left;
  width: 300px;
  margin-left: 50px;
  padding: 35px 0 0 0;
}
header #header_content h1 a {
  font-size: 40px;
  color: #a7cf3a;
  text-decoration: none;
}
header #header_content h1 a:hover {
  font-weight: normal;
  text-decoration: none;
  text-shadow: 1px 1px 7px #a7cf3a;
}
header #header_content ul {
  float: right;
  margin: 12px 50px 0 0;
  padding: 0px;
  list-style: none;
}
header #header_content ul li {
  margin: 0 0 0 25px;
  display: inline-block;
}
header #header_content ul li a {
  display: inline-block;
  width: 70px;
  height: 70px;
  background-image: url("../images/links_sprite.png");
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0;
}
header #header_content ul li a:hover {
  color: #c0f048;
  background-position-y: -70px;
}
header #header_content ul li a.forum {
  background-position-x: -70px;
}
header #header_content ul li a.patreon {
  background-position-x: -140px;
}
header #header_content ul li a.twitter {
  background-position-x: -210px;
}
header #header_content ul li a.github {
  background-position-x: -280px;
}
header #lang_bar {
  float: right;
  height: 64px;
  width: 32px;
  margin: 12px 0 0 -20px;
}
header #lang_bar a {
  display: inline-block;
  height: 32px;
  width: 32px;
  background-repeat: no-repeat;
  background-image: url("../images/lang_sprite.png");
}
header #lang_bar a#en_link {
  background-position: 0 0;
}
header #lang_bar a#ru_link {
  background-position: 0 -32px;
}
#preview_image {
  width: 100%;
  height: 500px;
  background: url("../images/background.png") center center no-repeat #000000;
  background-size: cover;
}
#menu {
  width: 100%;
  height: 90px;
  background-image: linear-gradient(to bottom, #9ccc23 0%, #81a00f 100%);
}
#menu ul {
  width: 980px;
  height: 65px;
  padding: 25px 0 0;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}
#menu ul li {
  padding: 0 20px;
  display: inline-block;
}
#menu ul li a {
  font-size: 26px;
  text-decoration: none;
  color: #212629;
}
#menu ul li a:hover {
  text-shadow: 1px 0 2px #212629;
}
#content_wrapper {
  width: 860px;
  padding: 20px 60px;
  margin: -25px auto 0;
  background: #191D20;
  border: 1px solid #8a8a79;
  z-index: 10;
  position: relative;
  box-shadow: 0 0 4px black;
  overflow: hidden;
}
#content_wrapper #content {
  float: left;
  width: 650px;
  padding-right: 40px;
}
#content_wrapper #content h2 {
  color: #c0f048;
  height: 28px;
  margin: 0 0 17px;
  padding-top: 10px;
  font-size: 24px;
}
#content_wrapper #content h3 {
  color: #c0f048;
}
#content_wrapper #content p {
  text-align: justify;
  margin-bottom: 10px;
}
#content_wrapper #content ul {
  margin-bottom: 20px;
}
#content_wrapper #content li {
  list-style: disc;
  margin-left: 15px;
}
#content_wrapper #content iframe {
  width: 100%;
  height: 365px;
}
#sum_menu {
  float: right;
  width: 150px;
}
#sum_menu > ul {
  width: 100%;
  margin-bottom: 15px;
  padding: 15px 0;
  font-size: 20px;
}
#sum_menu > ul > li {
  padding-bottom: 10px;
}
ul.video {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.video li {
  overflow: hidden;
  height: 365px;
  width: 100%;
  padding: 19px 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
ul.video li:last-child {
  border-bottom: none;
}
.player {
  padding-bottom: 20px;
}
.player .preview_container .preview {
  height: 365px;
  width: 100%;
}
.player .play_icon {
  height: 365px;
  width: 100%;
  margin-top: -360px;
  background: url("../images/play-mq.png") no-repeat center center;
  cursor: pointer;
  position: relative;
}
footer {
  width: 100%;
  margin: -25px auto 0;
  background: #2A2F32;
}
footer > div {
  width: 940px;
  padding: 45px 20px 20px;
  margin: 0 auto;
  text-align: center;
}
footer > div a {
  font-weight: bold;
  color: #939382;
}
footer > div ul {
  margin: 0 0 5px 0;
  list-style: none;
}
footer ul li {
  padding: 0 20px;
  display: inline;
  border-right: 1px solid #939382;
}
footer ul > li:last-child {
  border: none;
}
a.download {
  display: inline-block;
  height: 32px;
  width: 100%;
  line-height: 41px;
  padding-left: 40px;
  margin-bottom: 15px;
  font-size: 20px;
  background: url("../images/download.png") no-repeat center left;
}
.margin_top_30 {
  margin-top: 30px;
}
.gallery {
  overflow: hidden;
  width: 100%;
  text-align: center;
}
.gallery li {
  list-style: none !important;
  display: inline-block;
  height: 100px;
  margin: 0 10px 0 0 !important;
  width: 100px;
}
.gallery li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.modal-content {
  background-color: #191d20;
}
.modal-content a {
  background-color: #191d20;
  border: none;
  color: #c0f048;
  font-size: 15px;
}
.modal-content button {
  color: #c0f048;
  opacity: 1;
  text-shadow: none;
}
