<div ng-controller="CreditsCtrl">
    <h2>{{credits.pageTitle}}</h2>
    <ul>
        <li>
            <a href="http://www.minecraftforum.net/members/NightKosh">NightKosh</a> - <span>{{credits.nightkosh}}</span>
        </li>
    </ul>

    <h2>{{credits.code.title}}</h2>
    <ul>
        <li><a href="http://www.minecraftforum.net/members/Nuchaz">Nuchaz</a> - <span>{{credits.code.nuchaz}}</span>
        </li>
        <li><a href="http://www.minecraftforum.net/members/senpaisubaraki">Senpaisubaraki</a> -
            <span>{{credits.code.senpaisubaraki}}</span>
        </li>
        <li><a href="https://github.com/da3dsoul">Da3dsoul</a> - <span>{{credits.code.da3dsoul}}</span></li>
        <li><a href="https://github.com/portablejim">Portablejim</a> - <span>{{credits.code.portablejim}}</span>
        </li>
        <li><a href="https://github.com/Noobidoo">Noobidoo</a> - <span>{{credits.code.noobidoo}}</span></li>
        <li><a href="https://github.com/CrazyPants">CrazyPants</a> - <span>{{credits.code.crazypants}}</span>
        </li>
    </ul>

    <h2>{{credits.textures.title}}</h2>
    <ul>
        <li><a href="http://www.minecraftforum.net/members/Goodlyay">Goodlyay</a> -
            <span>{{credits.textures.goodlyay}}</span></li>
        <li><a href="http://www.minecraftforum.net/members/Gentle_Stream">Gentle_Stream</a> -
            <span>{{credits.textures.gentleStream}}</span></li>
        <li><a href="http://www.minecraftforum.net/members/Nokuru">Nokuru</a> -
            <span>{{credits.textures.nokuru}}</span></li>
    </ul>

    <h2>{{credits.localization.title}}</h2>
    <ul>
        <li><a href="http://www.minecraftforum.net/members/MickyFoley">MickyFoley</a> -
            <span>{{credits.localization.mickyfoley}}</span></li>
        <li><a href="http://www.minecraftforum.net/members/senpaisubaraki">Senpaisubaraki</a> -
            <span>{{credits.localization.senpaisubaraki}}</span></li>
        <li><a href="http://www.minecraftforum.net/members/bendem">Bendem</a> -
            <span>{{credits.localization.bendem}}</span></li>
        <li><a href="https://github.com/Mazdallier">Mazdallier</a> -
            <span>{{credits.localization.mazdallier}}</span></li>
        <li><a href="http://www.minecraftforum.net/members/skyuzneto">DoraJDJ (skyuzneto)</a> -
            <span>{{credits.localization.dorajdj}}</span></li>
        <li><a href="http://www.minecraftforum.net/members/antonysze">Antonysze</a> -
            <span>{{credits.localization.antonysze}}</span></li>
        <li><a href="https://github.com/Lovin000">Lovin000</a> - <span>{{credits.localization.lovin000}}</span></li>
        <li><a href="https://github.com/Mrkwtkr">Mrkwtkr</a> - <span>{{credits.localization.mrkwtkr}}</span></li>
        <li><a href="http://www.minecraftforum.net/members/Zernicalo">Zernicalo</a> -
            <span>{{credits.localization.zernicalo}}</span></li>
        <li><a href="http://www.minecraftforum.net/members/CronosusCZ">CronosusCZ</a> -
            <span>{{credits.localization.cronosuscz}}</span></li>
        <li><a href="https://github.com/DeRigeurEx">DeRigeurEx</a> -
            <span>{{credits.localization.DeRigeurEx}}</span></li>
        <li><a href="https://github.com/LorenzoDCC">LorenzoDCC</a> -
            <span>{{credits.localization.lorenzodcc}}</span></li>
        <li><a href="https://github.com/Sunconure11">Sunconure11</a> -
            <span>{{credits.localization.sunconure11}}</span></li>
        <li><a href="https://github.com/Adaptivity">Adaptivity</a> -
            <span>{{credits.localization.adaptivity}}</span></li>
    </ul>

    <h2>{{credits.texturepack.title}}</h2>
    <ul>
        <li><a href="http://www.minecraftforum.net/members/Zernicalo">Zernicalo</a> -
            <span>{{credits.texturepack.zernicalo}}</span></li>
        <li><a href="http://www.minecraftforum.net/members/druha">Druha</a> -
            <span>{{credits.texturepack.druha}}</span></li>
    </ul>

    <h2>{{credits.another.title}}</h2>
    <ul>
        <li><a href="https://github.com/Adaptivity">Adaptivity</a> - <span>{{credits.another.adaptivity}}</span></li>
        <li><a href="http://www.minecraftforum.net/members/GRxRyder">GRxRyder</a> -
            <span>{{credits.another.grxryder}}</span></li>
        <li><a href="https://github.com/Sunconure11">Sunconure11</a> - <span>{{credits.another.sunconure11}}</span></li>
    </ul>

    <h2>{{credits.donate.title}}</h2>
    <ul>
        <li><a href="https://www.patreon.com/mousss">Mikel</a> - <span>{{credits.donate.mikel}}</span></li>
        <li><a href="https://www.patreon.com/user?u=226551">Agathezol</a> - <span>{{credits.donate.Agathezol}}</span></li>
    </ul>

    <p>{{credits.creditsForgot}}</p>
</div>
