<ul ng-controller="AboutMenuCtrl">
    <li><a ng-href="{{aboutMenu.link_gravestone}}">{{aboutMenu.gravestone}}</a></li>
    <li><a ng-href="{{aboutMenu.link_memorial}}">{{aboutMenu.memorial}}</a></li>
    <li><a ng-href="{{aboutMenu.link_execution}}">{{aboutMenu.execution}}</a></li>
    <li><a ng-href="{{aboutMenu.link_candle}}">{{aboutMenu.candle}}</a></li>
    <li><a ng-href="{{aboutMenu.link_spawner}}">{{aboutMenu.spawner}}</a></li>
    <li><a ng-href="{{aboutMenu.link_blocks}}">{{aboutMenu.blocks}}</a></li>
    <li><a ng-href="{{aboutMenu.link_items}}">{{aboutMenu.items}}</a></li>
    <li><a ng-href="{{aboutMenu.link_copses}}">{{aboutMenu.copses}}</a></li>
    <li><a ng-href="{{aboutMenu.link_mobs}}">{{aboutMenu.mobs}}</a></li>
    <li><a ng-href="{{aboutMenu.link_structures}}">{{aboutMenu.structures}}</a></li>
    <li><a ng-href="{{aboutMenu.link_recipes}}">{{aboutMenu.recipes}}</a></li>
    <li><a ng-href="{{aboutMenu.link_commands}}">{{aboutMenu.commands}}</a></li>
    <li><a ng-href="{{aboutMenu.link_configs}}">{{aboutMenu.configs}}</a></li>
</ul>