<h2 data-bind="text: page_title">Change Log - Before Minecraft 1.8</h2><h3 data-bind="text: version_2124">2.12.4</h3>
<ul>
    <li data-bind="text: version_2124_line_1">Fix LivingDeathEvent rewrite mobsSpawnTime file at every mob death. It
        must improve performance.
    </li>
</ul>
<h3 data-bind="text: version_2123">2.12.3</h3>
<ul>
    <li data-bind="text: version_2123_line_1">Fix NoClassDefFoundError, Candles and Skull Candles can't be used to
        stabilized Thaumcraft infusion.
    </li>
</ul><h3 data-bind="text: version_2122">2.12.2</h3>
<ul>
    <li data-bind="text: version_2122_line_1">Another one fix for "Infinite inventory" mod</li>
</ul><h3 data-bind="text: version_2121">2.12.1</h3>
<ul>
    <li data-bind="text: version_2121_line_1">Fix some compatibility problems with "Infinite inventory" mod</li>
</ul><h3 data-bind="text: version_2120">2.12.0</h3>
<ul>
    <li data-bind="text: version_2120_line_1">Mod-specific entity IDs(made by Portablejim) It must fix some
        compatibility bugs.
    </li>
    <li data-bind="text: version_2120_line_2">"Thilight Forest" "Charm of keeping" compatibility(made by DA3DSoul)</li>
    <li data-bind="text: version_2120_line_3">Some "Forestry" backpacks fixes(made by DA3DSoul)</li>
    <li data-bind="text: version_2120_line_4">Restore "The Camping mod" compatibility</li>
    <li data-bind="text: version_2120_line_5">Fix "Tinker Construct" compatibility("Heart Canisters" will not be stored
        in graves any more)
    </li>
    <li data-bind="text: version_2120_line_6">Fixed Villager corpse NPE bug</li>
    <li data-bind="text: version_2120_line_7">Update outdated APIs(it must fix some problems)</li>
</ul><h3 data-bind="text: version_2113">2.11.3</h3>
<ul>
    <li data-bind="text: version_2113_line_1">Update Chinese translation</li>
    <li data-bind="text: version_2113_line_2">Update Galacticraft API</li>
</ul><h3 data-bind="text: version_2112">2.11.2</h3>
<ul>
    <li data-bind="text: version_2112_line_1">Gravestones can be placed on any blocks, which can be digged by shovel.
    </li>
    <li data-bind="text: version_2112_line_2">Flowers can be putted on grave if its gravestone placed on any flower
        allowed block.
    </li>
    <li data-bind="text: version_2112_line_3">Graves generation(at world generation) in mushroom biomes can be
        disabled.
    </li>
    <li data-bind="text: version_2112_line_4">Fixed chisel name(it will not override chisel name from "chisel2" mod)
    </li>
    <li data-bind="text: version_2112_line_5">Fixed "ocelot cat type" text at cat corpse.</li>
    <li data-bind="text: version_2112_line_6">Add "curse" potion effect id config</li>
    <li data-bind="text: version_2112_line_7">Fixed flowers dupe</li>
    <li data-bind="text: version_2112_line_8">Some fog optimization(when it disabled)</li>
    <li data-bind="text: version_2112_line_9">Villager corpse can be placed on gibbets, stocks and burning stakes.</li>
    <li data-bind="text: version_2112_line_10">Candles burn a green flame at night</li>
    <li data-bind="text: version_2112_line_11">Fixed mob resurrection - it will not take experience twice + experience
        bar will be updated correctly.
    </li>
</ul><h3 data-bind="text: version_2111">2.11.1</h3>
<ul>
    <li data-bind="text: version_2111_line_1">Fix game crash.</li>
    <li data-bind="text: version_2111_line_2">Fix piles of bone destruction at neighbor blocks changing</li>
</ul><h3 data-bind="text: version_2110">2.11.0</h3>
<ul>
    <li data-bind="text: version_2110_line_1">Backpacks mod compatibility</li>
    <li data-bind="text: version_2110_line_2">Galacticraft compatibility(it will be enable after some changes in
        galacticraft, so you must wait a little)
    </li>
    <li data-bind="text: version_2110_line_3">EnderIo soulbound compatibility</li>
    <li data-bind="text: version_2110_line_4">Donkey's stuff will be saved in grave at its death(all items except saddle
        and armor - there are some technical problems with it)
    </li>
    <li data-bind="text: version_2110_line_5">New types of zombie pets(textures made by "Gentle_Stream"</li>
    <li data-bind="text: version_2110_line_6">New memorials - gibbets, stocks and burning stakes</li>
    <li data-bind="text: version_2110_line_7">New Blocks - Pile of Bones</li>
    <li data-bind="text: version_2110_line_8">Rename Chisel to Gravestone chisel</li>
    <li data-bind="text: version_2110_line_9">Some changes in corpses - forestry's villagers profession will be shown
        correctly, even if its id changed in configs
    </li>
    <li data-bind="text: version_2110_line_10">Restrict catacombs generation near spawn point(in range of 1000 blocks)
    </li>
    <li data-bind="text: version_2110_line_11">Add new potion effect - "curse"(it is do nothing yet) It will be applyed
        on player when he step on "night stone"
    </li>
    <li data-bind="text: version_2110_line_12">Fix "RemoveEmptyGraves"</li>
    <li data-bind="text: version_2110_line_13">Fix server crash when editing graves text by chisel</li>
    <li data-bind="text: version_2110_line_14">Fix haunted chest picking</li>
    <li data-bind="text: version_2110_line_15">Optimized horse corpse rendering</li>
    <li data-bind="text: version_2110_line_16">Fix gravestone death message for "named" pets/villagers</li>
    <li data-bind="text: version_2110_line_17">Fix dogs corpses "type message" for sophisticated wolves</li>
</ul><h3 data-bind="text: version_2102">2.10.2</h3>
<ul>
    <li data-bind="text: version_2102_line_1">Update for forge 10.13.2.1232</li>
    <li data-bind="text: version_2102_line_2">Update French translation(made by Mazdallier)</li>
    <li data-bind="text: version_2102_line_3">Update Chinese translation(made by Mrkwtkr)</li>
</ul><h3 data-bind="text: version_2101">2.10.1</h3>
<ul>
    <li data-bind="text: version_2101_line_1">Fix server crash</li>
</ul><h3 data-bind="text: version_2100">2.10.0</h3>
<ul>
    <li data-bind="text: version_2100_line_1">Undertaker house and village cemetery can be generated by console
        commands.
    </li>
    <li data-bind="text: version_2100_line_2">Restore Tinker construct compatibility.</li>
    <li data-bind="text: version_2100_line_3">New Skull Crawlers models.</li>
    <li data-bind="text: version_2100_line_4">Horses gravestones are craftable.</li>
    <li data-bind="text: version_2100_line_5">Add fog on cemeteries in a night time (not compatible with optifine).</li>
    <li data-bind="text: version_2100_line_6">Own log file for all logs about creating graves at player death(and some
        another messages).
    </li>
    <li data-bind="text: version_2100_line_7">Add models for corpses.</li>
    <li data-bind="text: version_2100_line_8">Add corpses for all types of supported mobs in creative inventory(all
        villagers, all types of cats and horses(undead horses too))
    </li>
    <li data-bind="text: version_2100_line_9">Rework altar (new texture, change crafting recipe a little, add gui
        screen)
    </li>
    <li data-bind="text: version_2100_line_10">Fix loosing enchanted effect by memorials when it harvested.</li>
    <li data-bind="text: version_2100_line_11">Fix catacombs graveyard generation(no more fence on trees...) +
        configuration options to disable graveyard generation.
    </li>
    <li data-bind="text: version_2100_line_12">Default structures dimension can be changed in configs.</li>
    <li data-bind="text: version_2100_line_13">Catacombs generation chance can be changed in configs.</li>
    <li data-bind="text: version_2100_line_14">Fix zombie pets behaviour(it will not attack undead horses)</li>
    <li data-bind="text: version_2100_line_15">Pets saves its name when transformed to zombie pets(at death by zombie
        cats/dogs)
    </li>
    <li data-bind="text: version_2100_line_16">Fix killed mob name localization in graves death message.</li>
    <li data-bind="text: version_2100_line_17">Fix mob living time saved by graves.(it will work correctly now)</li>
    <li data-bind="text: version_2100_line_18">Fix undertake house generation in desert villages.</li>
    <li data-bind="text: version_2100_line_19">Add config option to disable mob spawn at graves destruction.</li>
    <li data-bind="text: version_2100_line_20">Fix editing graves death message by chisel.</li>
    <li data-bind="text: version_2100_line_21">Fixed compatibility bug with ArsMagica + add config options to disable
        any compatibility module(it will be helpfull if you'l catch some bugs in it)
    </li>
    <li data-bind="text: version_2100_line_22">Fixe geme crash with enchanted swords gravestones in creative inventory
    </li>
    <li data-bind="text: version_2100_line_23">Fix English localization</li>
</ul><h3 data-bind="text: version_297">2.9.7</h3>
<ul>
    <li data-bind="text: version_297_line_1">All types of gravestones and memorials can be crafted</li>
    <li data-bind="text: version_297_line_2">Change undertaker's trades - it sells skulls.</li>
    <li data-bind="text: version_297_line_3">Gravestones and memorials can be harvested by bare hands</li>
</ul><h3 data-bind="text: version_296">2.9.6</h3>
<ul>
    <li data-bind="text: version_296_line_1">Some fixes death messages + new messages</li>
    <li data-bind="text: version_296_line_2">No more collisions with graves - you can go through it</li>
    <li data-bind="text: version_296_line_3">Fix "corpse.name" bug</li>
    <li data-bind="text: version_296_line_4">Fix graves and memorials generation in desert(it will choose correct
        type)
    </li>
    <li data-bind="text: version_296_line_5">Gravestones/memorials can be harvested without silk touch(but in this case
        you will lost all information which it stored)
    </li>
    <li data-bind="text: version_296_line_6">Add "random message" button to grave edit screen</li>
    <li data-bind="text: version_296_line_7">Fix gravestones "age message" localization</li>
    <li data-bind="text: version_296_line_8">Add titles for swords gravestones</li>
    <li data-bind="text: version_296_line_9">Fix gravestones/memorials picking in creative mode</li>
    <li data-bind="text: version_296_line_10">Fix NEI highlight bug</li>
    <li data-bind="text: version_296_line_11">Some generated graves will be created with flowers</li>
    <li data-bind="text: version_296_line_12">Spawners will drop bone meal and scull candles(with some chance)</li>
    <li data-bind="text: version_296_line_13">Add Undertaker backpacks (forestry required)</li>
</ul><h3 data-bind="text: version_294">2.9.4</h3>
<ul>
    <li data-bind="text: version_294_line_1">Portuguese localization (made by LorenzoDCC)</li>
    <li data-bind="text: version_294_line_2">Fixed "gravestone message bug"(it will be shown with items in hands)</li>
    <li data-bind="text: version_294_line_3">Fixed "helpful villagers" bug.</li>
    <li data-bind="text: version_294_line_4">Searching of a free space for graves was fully reworked.</li>
    <li data-bind="text: version_294_line_5">Graves will show amount of days you have lived</li>
</ul><h3 data-bind="text: version_293">2.9.3</h3>
<ul>
    <li data-bind="text: version_293_line_1">Flowers can be placed on some types of graves.</li>
</ul><h3 data-bind="text: version_292">2.9.2</h3>
<ul>
    <li data-bind="text: version_292_line_1">Fix Mariculture compatibility bug.</li>
    <li data-bind="text: version_292_line_2">Fix "chisel bug" on server.</li>
</ul><h3 data-bind="text: version_291">2.9.1</h3>
<ul>
    <li data-bind="text: version_291_line_1">fix game crash(remove forestry recipes)</li>
</ul><h3 data-bind="text: version_290">2.9.0</h3>
<ul>
    <li data-bind="text: version_290_line_1">Rework sword gravestones</li>
    <li data-bind="text: version_290_line_2">Add thaumcraft swords as a gravestones</li>
    <li data-bind="text: version_290_line_3">API for swords gravestones</li>
    <li data-bind="text: version_290_line_4">Graves can be made of wood, sandstone, mossy, iron, gold, diamond, emerald,
        lapis, redstone, quartz, obsidian and ice
    </li>
    <li data-bind="text: version_290_line_5">Memorials can be made of wood, sandstone, mossy, iron, gold, diamond,
        emerald, lapis, redstone, quartz, obsidian and ice
    </li>
    <li data-bind="text: version_290_line_6">If you die by magic your grave will be looked enchanted</li>
    <li data-bind="text: version_290_line_7">Graves type based on biome and your experience level</li>
    <li data-bind="text: version_290_line_8">If you die in lava or by fire - your gravestone will be made of obsidian
    </li>
    <li data-bind="text: version_290_line_9">Memorials type based on biome</li>
    <li data-bind="text: version_290_line_10">Rework structures generation - it will not be depended from API of a
        biomes mods
    </li>
    <li data-bind="text: version_290_line_11">Reduce catacombs generation chance</li>
    <li data-bind="text: version_290_line_12">Reduce graves loot generation chance</li>
    <li data-bind="text: version_290_line_13">New textures for bone blocks</li>
</ul><h3 data-bind="text: version_286">2.8.6</h3>
<ul>
    <li data-bind="text: version_286_line_1">Fix game crash</li>
    <li data-bind="text: version_286_line_2">Fix memorials and skull candles "canUpdate" bug.</li>
    <li data-bind="text: version_286_line_3">Update French localization</li>
</ul><h3 data-bind="text: version_285">2.8.5</h3>
<ul>
    <li data-bind="text: version_285_line_1">Sophisticated wolves compatibility.</li>
    <li data-bind="text: version_285_line_2">Mariculture compatibility.</li>
    <li data-bind="text: version_285_line_3">TinkerConstruct compatibility.</li>
    <li data-bind="text: version_285_line_4">RpgInventory compatibility.</li>
    <li data-bind="text: version_285_line_5">Temporary remove Highlands compatibility (To prevent game crash).</li>
    <li data-bind="text: version_285_line_6">New Undertaker house.</li>
    <li data-bind="text: version_285_line_7">Add new console command which allow to fill grave with custom items.</li>
    <li data-bind="text: version_285_line_8">Add configuration option to disable graves removing messages.</li>
    <li data-bind="text: version_285_line_9">Fix resurrection issue - it will not use all corpses at usage.</li>
    <li data-bind="text: version_285_line_10">Fix candle "canUpdate" issue.(it must increase performance a little).</li>
    <li data-bind="text: version_285_line_11">Fix candle texture.</li>
</ul><h3 data-bind="text: version_284">2.8.4</h3>
<ul>
    <li data-bind="text: version_284_line_1">Fix server crash</li>
    <li data-bind="text: version_284_line_2">Fix "candle bug"</li>
    <li data-bind="text: version_284_line_3">Fix "haunted chest" usage by "fake players"(to prevent "mob greefing") +
        some small changes + configuration option for replacing it by "normal" chest after first usage.
    </li>
</ul><h3 data-bind="text: version_283">2.8.3</h3>
<ul>
    <li data-bind="text: version_283_line_1">Skull cralwers spawn can be disabled in configuration file (for both 1.6.4
        and 1.7.2 versions)
    </li>
    <li data-bind="text: version_283_line_2">Night stone "message" can bedisabled in configuration file (for both 1.6.4
        and 1.7.2 versions)
    </li>
    <li data-bind="text: version_283_line_3">Gravestone death message gui screen was reworked. (for both 1.6.4 and 1.7.2
        versions)
    </li>
    <li data-bind="text: version_283_line_4">Update German localization (for both 1.6.4 and 1.7.2 versions)</li>
    <li data-bind="text: version_283_line_5">Update French localization (for both 1.6.4 and 1.7.2 versions)</li>
    <li data-bind="text: version_283_line_6">Update Chinese localization</li>
    <li data-bind="text: version_283_line_7">Fix Russian localization</li>
    <li data-bind="text: version_283_line_8">Fix memorial placing bug</li>
    <li data-bind="text: version_283_line_9">Fix logger</li>
    <li data-bind="text: version_283_line_10">Fix "Chisel bug"</li>
    <li data-bind="text: version_283_line_11">Fix grave GUI (you can set custom text)</li>
    <li data-bind="text: version_283_line_12">Fix graves title in inventory</li>
    <li data-bind="text: version_283_line_13">Candles and SkullCandles can be used to stabilize thaumcraft infusion
        process (1.7.2 version)
    </li>
    <li data-bind="text: version_283_line_14">Add Thaumcraft aspects for corpses</li>
    <li data-bind="text: version_283_line_15">Add "Baubles"(Thaumcraft addon) compatibility (next( &gt; 1.0.0.12)
        "Baubles" version required) (1.7.2 version)
    </li>
</ul><h3 data-bind="text: version_282">2.8.2</h3>
<ul>
    <li data-bind="text: version_282_line_1">Fix font bug</li>
</ul><h3 data-bind="text: version_281">2.8.1</h3>
<ul>
    <li data-bind="text: version_281_line_1">Fix Candle name</li>
    <li data-bind="text: version_281_line_2">Czech localization</li>
</ul><h3 data-bind="text: version_280">2.8.0</h3>
<ul>
    <li data-bind="text: version_280_line_1">New block - Candle</li>
    <li data-bind="text: version_280_line_2">New blocks - Zombie and Skeleton spawners</li>
    <li data-bind="text: version_280_line_3">Horses graves</li>
    <li data-bind="text: version_280_line_4">New items - villagers and pets corpse(it can be use to resurrect this
        mobs)
    </li>
    <li data-bind="text: version_280_line_5">New block - Altar. It used for mob resurrection. ( it will be fully
        reworked in the future)
    </li>
    <li data-bind="text: version_280_line_6">Add crafting recipes for skull candles</li>
    <li data-bind="text: version_280_line_7">Fix "spawn rate" bug</li>
    <li data-bind="text: version_280_line_8">Fix broken "grave spawn mechanism"</li>
    <li data-bind="text: version_280_line_9">Fix memorials death messages</li>
    <li data-bind="text: version_280_line_10">Improve enchanted effect for sword gravestones</li>
    <li data-bind="text: version_280_line_11">Add enchanted sword gravestone to creative tab</li>
    <li data-bind="text: version_280_line_12">Using English localization for unsupported languages.</li>
    <li data-bind="text: version_280_line_13">Fix some thaumcraft aspects</li>
    <li data-bind="text: version_280_line_14">Add config for removing empty graves</li>
</ul><h3 data-bind="text: version_271">2.7.1</h3>
<ul>
    <li data-bind="text: version_271_line_1">Fix game crashing(moCreatures compatibility bug)</li>
</ul><h3 data-bind="text: version_270">2.7.0</h3>
<ul>
    <li data-bind="text: version_270_line_1">New block - Thunderstone</li>
    <li data-bind="text: version_270_line_2">Graves can be looted by right click with shovel in hands</li>
    <li data-bind="text: version_270_line_3">New objects - "Haunted chests"</li>
    <li data-bind="text: version_270_line_4">New blocks - Bone blocks, slabs, stairs(Textures by Gentle_Stream)</li>
    <li data-bind="text: version_270_line_5">Made graves creeper resistant</li>
    <li data-bind="text: version_270_line_6">New objects - Skull candles</li>
    <li data-bind="text: version_270_line_7">Fix "was killed by unknown" gravestone death message bug</li>
    <li data-bind="text: version_270_line_8">Fix "entity.*****.name" grave tip in inventory</li>
    <li data-bind="text: version_270_line_9">Improved graves generation logic - it will try to find free space in range
        of 5 blocks(if death place occupied)
    </li>
    <li data-bind="text: version_270_line_10">Add gravestone recipes</li>
    <li data-bind="text: version_270_line_11">Remove gravestones from undertaker trade list</li>
    <li data-bind="text: version_270_line_12">Change statues pedestals</li>
    <li data-bind="text: version_270_line_13">New mobs - Skull crawlers (Skull crawler, Wither Skull crawler, Zombie
        Skull crawler)
    </li>
    <li data-bind="text: version_270_line_14">Add configuration option for catacombs generation maximum Y-coordinate
        value
    </li>
    <li data-bind="text: version_270_line_15">Change Undead pets biomes - Any type of forest for dogs and jungles for
        cats
    </li>
    <li data-bind="text: version_270_line_16">Add Spanish localization(Thanks to Zernicalo)</li>
    <li data-bind="text: version_270_line_17">Fix wall in catacombs "creeper room"</li>
    <li data-bind="text: version_270_line_18">Made Creeper statue realy charged!</li>
    <li data-bind="text: version_270_line_19">Add horse egg to adventurer grave item list.</li>
    <li data-bind="text: version_270_line_20">Made it compatible with "The Camper mod"</li>
    <li data-bind="text: version_270_line_21">Rework Wither spawner model</li>
</ul><h3 data-bind="text: version_251">2.5.1</h3>
<ul>
    <li data-bind="text: version_251_line_1">Fix crushing game bugs</li>
</ul><h3 data-bind="text: version_250">2.5.0</h3>
<ul>
    <li data-bind="text: version_250_line_1">Command for generation catacombs/memorials/graves( /generate &lt;structure_name&gt;
        )
    </li>
    <li data-bind="text: version_250_line_2">Add Chinese localization (made by DoraJDJ)</li>
    <li data-bind="text: version_250_line_3">Fix catacombs and villages crossing</li>
    <li data-bind="text: version_250_line_4">Fix zombie cats spawn - all types of zombie cats can be spawned now.</li>
    <li data-bind="text: version_250_line_5">Undead pets cat spawn in some additional biomes from another mods.</li>
    <li data-bind="text: version_250_line_6">Set maximum naturally spawned undead pets count to 1</li>
    <li data-bind="text: version_250_line_7">Reduce naturally spawned undead pets chance</li>
    <li data-bind="text: version_250_line_8">Remove some biomes(from another mods) from catacombs generation list</li>
    <li data-bind="text: version_250_line_9">Set default saved items by graves to maximum.</li>
    <li data-bind="text: version_250_line_10">Change minimal grave spawn rate to 600. (1000 by default)</li>
    <li data-bind="text: version_250_line_11">Remove Twilight Wraith spawn.</li>
    <li data-bind="text: version_250_line_12">Add configuration option for disabling mo creatures mobs spawn by
        graves.
    </li>
    <li data-bind="text: version_250_line_13">Fix memorials generation in water(I hope)))</li>
    <li data-bind="text: version_250_line_14">Fix catacombs generation bug( no more catacombs higher 75 Y)</li>
    <li data-bind="text: version_250_line_15">Some graves mob spawn optimizations</li>
</ul><h3 data-bind="text: version_247">2.4.7</h3>
<ul>
    <li data-bind="text: version_247_line_1">Add Thaumcraft aspects</li>
    <li data-bind="text: version_247_line_2">Fix night stone (day will not change any more)</li>
</ul><h3 data-bind="text: version_246">2.4.6</h3>
<ul>
    <li data-bind="text: version_246_line_1">Add Ars magica compatibility</li>
    <li data-bind="text: version_246_line_2">Add Battle gear 2 compatibility</li>
</ul><h3 data-bind="text: version_244">2.4.4</h3>
<ul>
    <li data-bind="text: version_244_line_1">Fix "village bug"</li>
    <li data-bind="text: version_244_line_2">Add some console logs</li>
</ul><h3 data-bind="text: version_243">2.4.3</h3>
<ul>
    <li data-bind="text: version_243_line_1">Fix ExtrabiomesXL compatibility bug</li>
    <li data-bind="text: version_243_line_2">Change chisel reciep (again)</li>
</ul><h3 data-bind="text: version_242">2.4.2</h3>
<ul>
    <li data-bind="text: version_242_line_1">Fix game crash bug</li>
    <li data-bind="text: version_242_line_2">Fix compatibility with item saving mods</li>
</ul><h3 data-bind="text: version_241">2.4.1</h3>
<ul>
    <li data-bind="text: version_241_line_1">Add french localization.</li>
</ul><h3 data-bind="text: version_240">2.4.0</h3>
<ul>
    <li data-bind="text: version_240_line_1">Add localization for english, german and russian languages.</li>
    <li data-bind="text: version_240_line_2">Change creeper statues message to "Sssssssss"</li>
    <li data-bind="text: version_240_line_3">Rework "Highlands" compatibility.</li>
    <li data-bind="text: version_240_line_4">Night stone show message when you step on it.</li>
    <li data-bind="text: version_240_line_5">Add configuration which allow to disable night stone.</li>
    <li data-bind="text: version_240_line_6">Give swords to some skeletons.</li>
    <li data-bind="text: version_240_line_7">Rework mobs spawn at grave destruction.</li>
    <li data-bind="text: version_240_line_8">Rework mobs spawn by graves (80% as default. it can be changed in
        configuration file)
    </li>
    <li data-bind="text: version_240_line_9">Increase count of chests in catacombs.</li>
    <li data-bind="text: version_240_line_10">Increase count of graves rooms in catacombs.</li>
    <li data-bind="text: version_240_line_11">Add "nether chests" to catacombs.</li>
    <li data-bind="text: version_240_line_12">Treasury rooms will contain more valuable chests.</li>
    <li data-bind="text: version_240_line_13">Zombie dogs no more hurt cows and pigs.</li>
    <li data-bind="text: version_240_line_14">Zombie dogs and cats will kill horses too. At horse death it transform to
        "Zombie horse"(this is minecraft horses)
    </li>
    <li data-bind="text: version_240_line_15">Fix "phantom swords" bug.</li>
    <li data-bind="text: version_240_line_16">Fix "unvulnerable mobs" bug.</li>
    <li data-bind="text: version_240_line_17">Name tags and leads can be found only in pets graves.</li>
    <li data-bind="text: version_240_line_18">Some another fixes and optimization.</li>
</ul><h3 data-bind="text: version_233">2.3.3</h3>
<ul>
    <li data-bind="text: version_233_line_1">fix "underwater catacombs fence" bug</li>
    <li data-bind="text: version_233_line_2">fix "underwater graves" at catacomb's graveyard</li>
    <li data-bind="text: version_233_line_3">fix "server/villager" bug</li>
    <li data-bind="text: version_233_line_4">"return" weapon for mobs which spawned by graves</li>
    <li data-bind="text: version_233_line_5">wither skeletons can be spawned with bows/swords</li>
    <li data-bind="text: version_233_line_6">graves will not replace blocks at player death</li>
    <li data-bind="text: version_233_line_7">change ground for memorials which spawn on beach</li>
    <li data-bind="text: version_233_line_8">reduce loot for graves at catacomb's graveyard</li>
    <li data-bind="text: version_233_line_9">add new room to catacombs</li>
</ul><h3 data-bind="text: version_232">2.3.2</h3>
<ul>
    <li data-bind="text: version_232_line_1">update for minecraft 1.6.2</li>
    <li data-bind="text: version_232_line_2">add name tags to pet's graves loot</li>
    <li data-bind="text: version_232_line_3">add lead to pet's graves loot</li>
</ul><h3 data-bind="text: version_231">2.3.1</h3>
<ul>
    <li data-bind="text: version_231_line_1">fix crash at villager death</li>
    <li data-bind="text: version_231_line_2">fix "ExtrabiomesXL crash"</li>
    <li data-bind="text: version_231_line_3">add Highlands compatibility</li>
</ul><h3 data-bind="text: version_230">2.3.0</h3>
<ul>
    <li data-bind="text: version_230_line_1">add BiomesO'Plenty compatibility</li>
    <li data-bind="text: version_230_line_2">add ExtrabiomesXL compatibility</li>
    <li data-bind="text: version_230_line_3">fix "out of memory" bug.</li>
    <li data-bind="text: version_230_line_4">some optimisation</li>
</ul><h3 data-bind="text: version_220">2.2.0</h3>
<ul>
    <li data-bind="text: version_220_line_1">sword graves</li>
    <li data-bind="text: version_220_line_2">new memorial blocks</li>
    <li data-bind="text: version_220_line_3">memorials generate in some villages</li>
    <li data-bind="text: version_220_line_4">graves spawn some mobs from "Mo'creatures" mod if it installed</li>
    <li data-bind="text: version_220_line_5">graves spawn some mobs from "Twilight Forest" mod if it installed</li>
    <li data-bind="text: version_220_line_6">graves spawn monsters at thunder too</li>
    <li data-bind="text: version_220_line_7">when grave harvest there is a chance that it spawn monster.</li>
    <li data-bind="text: version_220_line_8">warrior's graves always have sword</li>
    <li data-bind="text: version_220_line_9">warrior's graves use sword as gravestone</li>
    <li data-bind="text: version_220_line_10">reduce pets graves count</li>
    <li data-bind="text: version_220_line_11">all graves loot damaged a little</li>
    <li data-bind="text: version_220_line_12">add new room in catacombs</li>
    <li data-bind="text: version_220_line_13">reduce grave rooms in catacombs</li>
    <li data-bind="text: version_220_line_14">increase max level of enchanted books to 5</li>
    <li data-bind="text: version_220_line_15">add config for custom grave names and death messages</li>
    <li data-bind="text: version_220_line_16">add config for disabling spawn of undead pets</li>
    <li data-bind="text: version_220_line_17">fix generation graves under water</li>
    <li data-bind="text: version_220_line_18">fix generation memorials in ocean</li>
    <li data-bind="text: version_220_line_19">fix broken grave particles bug</li>
    <li data-bind="text: version_220_line_20">fix cat grave texture</li>
    <li data-bind="text: version_220_line_21">fix "GenerateMemorials" config bug</li>
</ul><h3 data-bind="text: version_210">2.1.0</h3>
<ul>
    <li data-bind="text: version_210_line_1">add gravestones for pets.</li>
    <li data-bind="text: version_210_line_2">add zombie and skeleton dogs and cats.</li>
    <li data-bind="text: version_210_line_3">graves show age.</li>
    <li data-bind="text: version_210_line_4">some special texts for memorial blocks.</li>
    <li data-bind="text: version_210_line_5">compatibility with senpaisubaraki's gravestone mod.(you must set
        "GeneratePlayerGraves" to false)
    </li>
    <li data-bind="text: version_210_line_6">seed based graves content and text.</li>
    <li data-bind="text: version_210_line_7">fix chisel bug.</li>
    <li data-bind="text: version_210_line_8">fix twice death message.</li>
    <li data-bind="text: version_210_line_9">some fixes in death messages.</li>
    <li data-bind="text: version_210_line_10">some fixes in undertaker's trades.</li>
    <li data-bind="text: version_210_line_11">fix loot dropping at cemeteries.</li>
    <li data-bind="text: version_210_line_12">fix catacombs gates position.</li>
    <li data-bind="text: version_210_line_13">fix graves rotation in catacombs.</li>
    <li data-bind="text: version_210_line_14">reduce grave generation.</li>
    <li data-bind="text: version_210_line_15">configurations for graves spawn rate.</li>
    <li data-bind="text: version_210_line_16">configurations for graves spawn at death in lava.</li>
    <li data-bind="text: version_210_line_17">configurations for disabling village structures generation.</li>
    <li data-bind="text: version_210_line_18">configurations for allowing any type of surface for graves.</li>
</ul><h3 data-bind="text: version_200">2.0.0</h3>
<ul>
    <li data-bind="text: version_200_line_1">Add 2 new graves</li>
    <li data-bind="text: version_200_line_2">Add new memorial block</li>
    <li data-bind="text: version_200_line_3">fix "floating" graves bug</li>
    <li data-bind="text: version_200_line_4">fix "gamerule: keepInventory" bug</li>
    <li data-bind="text: version_200_line_5">add console logs for memorials(like for catacombs)</li>
    <li data-bind="text: version_200_line_6">change default stored items in graves to 10 instead of 0</li>
    <li data-bind="text: version_200_line_7">increase undertaker spawn chance</li>
</ul><h3 data-bind="text: version_200b1">2.0.0b1</h3>
<ul>
    <li data-bind="text: version_200b1_line_1">SMP support</li>
    <li data-bind="text: version_200b1_line_2">fix memorial "itemBlock" size</li>
</ul><h3 data-bind="text: version_200b">2.0.0b</h3>
<ul>
    <li data-bind="text: version_200b_line_1">Fully rewrite for Forge</li>
    <li data-bind="text: version_200b_line_2">Remove Player API requirment</li>
    <li data-bind="text: version_200b_line_3">Graves holds death message aftre its harvest</li>
    <li data-bind="text: version_200b_line_4">Add chisel wich can set custom death message</li>
    <li data-bind="text: version_200b_line_5">Add memorial block</li>
    <li data-bind="text: version_200b_line_6">add new villager - undertaker</li>
    <li data-bind="text: version_200b_line_7">fix "pig" bug in wither spawner</li>
    <li data-bind="text: version_200b_line_8">add fence to catacombs</li>
    <li data-bind="text: version_200b_line_9">add webs to catacombs</li>
    <li data-bind="text: version_200b_line_10">add dead bushes to catacombs</li>
    <li data-bind="text: version_200b_line_11">treasury rooms become more hidden</li>
    <li data-bind="text: version_200b_line_12">reduce grave's bones and rotten meat count</li>
    <li data-bind="text: version_200b_line_13">add mob eggs to adventurer's grave (only peacefull creatures)</li>
    <li data-bind="text: version_200b_line_14">on villagers death graves spawn to</li>
    <li data-bind="text: version_200b_line_15">graves can hold your inventory (can be changed in config file)</li>
    <li data-bind="text: version_200b_line_16">graves harvests with silk touch pickaxe (can be changed in config file)
    </li>
    <li data-bind="text: version_200b_line_17">catacombs can generate in superflat too( undeground will generate only if
        ground level more than 55)
    </li>
    <li data-bind="text: version_200b_line_18">add single graves generation around the world</li>
    <li data-bind="text: version_200b_line_19">add memorials generation around the world</li>
    <li data-bind="text: version_200b_line_20">some code optimisation</li>
    <li data-bind="text: version_200b_line_21">new graves texture</li>
</ul><h3 data-bind="text: version_161">1.6.1</h3>
<ul>
    <li data-bind="text: version_161_line_1">increase catacombs generation chance</li>
</ul><h3 data-bind="text: version_160">1.6.0</h3>
<ul>
    <li data-bind="text: version_160_line_1">spawn pigzombie and wither skeletons with a small chance in catacombs</li>
    <li data-bind="text: version_160_line_2">showing "death message" by right click on grave.</li>
    <li data-bind="text: version_160_line_3">generated graves contains some loot</li>
    <li data-bind="text: version_160_line_4">Wither's catacombs</li>
    <li data-bind="text: version_160_line_5">reduced max nearby monster count for spawning monsters by gravestone and
        added requirement any player in range &lt; 35 blocks
    </li>
</ul><h3 data-bind="text: version_131">1.3.1</h3>
<ul>
    <li data-bind="text: version_131_line_1">some changes in cemetery code, wich make it more compatible</li>
    <li data-bind="text: version_131_line_2">change installation way, now you can put zip file in a mod folder</li>
</ul><h3 data-bind="text: version_130">1.3.0</h3>
<ul>
    <li data-bind="text: version_130_line_1">use "player Api" mod to prevent base clases changes</li>
    <li data-bind="text: version_130_line_2">fix game crash at monsters spawn ( need more tests)</li>
    <li data-bind="text: version_130_line_3">fix losing spawn ability after game reloading</li>
</ul><h3 data-bind="text: version_120">1.2.0</h3>
<ul>
    <li data-bind="text: version_120_line_1">generation of cemeteries in some villages</li>
</ul><h3 data-bind="text: version_111">1.1.1</h3>
<ul>
    <li data-bind="text: version_111_line_1">Fix Forge mods compability</li>
</ul><h3 data-bind="text: version_110">1.1.0</h3>
<ul>
    <li data-bind="text: version_110_line_1">fix texture bug at placing gravestone</li>
    <li data-bind="text: version_110_line_2">add spawnning monsters at night</li>
</ul>