<h2>Change Log - Before Minecraft 1.8</h2>
<h3>2.17.0</h3>
<ul>
    <li>Backport of some improvements from Minecraft 1.8.9 and higher mod version.</li>
    <li>Improve graves rendering, especially sword gravestones and grave flowers ( made by Bogdan-G)</li>
    <li>Add configuration options to disable flowers rendering and switch sword gravestones models to the old version, instead of "item models" - it should improve performance.</li>
</ul>
<h3>2.16.1</h3>
<ul>
    <li>Fixed game crash at villager death(if it's trade list broken)</li>
</ul>
<h3>2.16.0</h3>
<ul>
    <li>A few new configuration options for catacombs generation.</li>
    <li>Nightstone and thunderstone can be crafted(Configurable, enabled by default)</li>
    <li>Add alternative recipe for altar(it used diamond instead of nether star). Configurable, "diamond recipe" by default.</li>
    <li>Grave inventory GUI.</li>
</ul>
<h3>2.15.2</h3>
<ul>
    <li>Fixed server crash</li>
</ul>
<h3>2.15.1</h3>
<ul>
    <li>Fixed server crash at player death</li>
</ul>
<h3>2.15.0</h3>
<ul>
    <li>Witchery compatibility(fixed graves generation when you are in vampire form)</li>
    <li>Fixed memorials interaction(only for newly placed)</li>
    <li>Configuration option to disable graves generation in some places</li>
</ul>
<h3>2.14.0</h3>
<ul>
    <li>Antique Atlas compatibility</li>
    <li>Fixed death logger</li>
</ul>
<h3>2.13.0</h3>
<ul>
    <li>Fixed fog</li>
    <li>Fixed death logger</li>
    <li>Some gravestones optimization</li>
</ul>
<h3>2.12.4</h3>
<ul>
    <li>Fix LivingDeathEvent rewrite mobsSpawnTime file at every mob death. It must improve performance.</li>
</ul>
<h3>2.12.3</h3>
<ul>
    <li>Fix NoClassDefFoundError, Candles and Skull Candles can't be used to stabilized Thaumcraft infusion.</li>
</ul>
<h3>2.12.2</h3>
<ul>
    <li>Another one fix for "Infinite inventory" mod</li>
</ul>
<h3>2.12.1</h3>
<ul>
    <li>Fix some compatibility problems with "Infinite inventory" mod</li>
</ul>
<h3>2.12.0</h3>
<ul>
    <li>Mod-specific entity IDs(made by Portablejim) It must fix some compatibility bugs.</li>
    <li>"Thilight Forest" "Charm of keeping" compatibility(made by DA3DSoul)</li>
    <li>Some "Forestry" backpacks fixes(made by DA3DSoul)</li>
    <li>Restore "The Camping mod" compatibility</li>
    <li>Fix "Tinker Construct" compatibility("Heart Canisters" will not be stored in graves any more)</li>
    <li>Fixed Villager corpse NPE bug</li>
    <li>Update outdated APIs(it must fix some problems)</li>
</ul>
<h3>2.11.3</h3>
<ul>
    <li>Update Chinese translation</li>
    <li>Update Galacticraft API</li>
</ul>
<h3>2.11.2</h3>
<ul>
    <li>Gravestones can be placed on any blocks, which can be digged by shovel.</li>
    <li>Flowers can be putted on grave if its gravestone placed on any flower allowed block.</li>
    <li>Graves generation(at world generation) in mushroom biomes can be disabled.</li>
    <li>Fixed chisel name(it will not override chisel name from "chisel2" mod)</li>
    <li>Fixed "ocelot cat type" text at cat corpse.</li>
    <li>Add "curse" potion effect id config</li>
    <li>Fixed flowers dupe</li>
    <li>Some fog optimization(when it disabled)</li>
    <li>Villager corpse can be placed on gibbets, stocks and burning stakes.</li>
    <li>Candles burn a green flame at night</li>
    <li>Fixed mob resurrection - it will not take experience twice + experience bar will be updated correctly.</li>
</ul>
<h3>2.11.1</h3>
<ul>
    <li>Fix game crash.</li>
    <li>Fix piles of bone destruction at neighbor blocks changing</li>
</ul>
<h3>2.11.0</h3>
<ul>
    <li>Backpacks mod compatibility</li>
    <li>Galacticraft compatibility(it will be enable after some changes in galacticraft, so you must wait a little)</li>
    <li>EnderIo soulbound compatibility</li>
    <li>Donkey's stuff will be saved in grave at its death(all items except saddle and armor - there are some technical problems with it)</li>
    <li>New types of zombie pets(textures made by "Gentle_Stream"</li>
    <li>New memorials - gibbets, stocks and burning stakes</li>
    <li>New Blocks - Pile of Bones</li>
    <li>Rename Chisel to Gravestone chisel</li>
    <li>Some changes in corpses - forestry's villagers profession will be shown correctly, even if its id changed in configs</li>
    <li>Restrict catacombs generation near spawn point(in range of 1000 blocks)</li>
    <li>Add new potion effect - "curse"(it is do nothing yet) It will be applyed on player when he step on "night stone"</li>
    <li>Fix "RemoveEmptyGraves"</li>
    <li>Fix server crash when editing graves text by chisel</li>
    <li>Fix haunted chest picking</li>
    <li>Optimized horse corpse rendering</li>
    <li>Fix gravestone death message for "named" pets/villagers</li>
    <li>Fix dogs corpses "type message" for sophisticated wolves</li>
</ul>
<h3>2.10.2</h3>
<ul>
    <li>Update for forge 10.13.2.1232</li>
    <li>Update French translation(made by Mazdallier)</li>
    <li>Update Chinese translation(made by Mrkwtkr)</li>
</ul>
<h3>2.10.1</h3>
<ul>
    <li>Fix server crash</li>
</ul>
<h3>2.10.0</h3>
<ul>
    <li>Undertaker house and village cemetery can be generated by console commands.</li>
    <li>Restore Tinker construct compatibility.</li>
    <li>New Skull Crawlers models.</li>
    <li>Horses gravestones are craftable.</li>
    <li>Add fog on cemeteries in a night time (not compatible with optifine).</li>
    <li>Own log file for all logs about creating graves at player death(and some another messages).</li>
    <li>Add models for corpses.</li>
    <li>Add corpses for all types of supported mobs in creative inventory(all villagers, all types of cats and horses(undead horses too))</li>
    <li>Rework altar (new texture, change crafting recipe a little, add gui screen)</li>
    <li>Fix loosing enchanted effect by memorials when it harvested.</li>
    <li>Fix catacombs graveyard generation(no more fence on trees...) +
        configuration options to disable graveyard generation.
    </li>
    <li>Default structures dimension can be changed in configs.</li>
    <li>Catacombs generation chance can be changed in configs.</li>
    <li>Fix zombie pets behaviour(it will not attack undead horses)</li>
    <li>Pets saves its name when transformed to zombie pets(at death by zombie cats/dogs)</li>
    <li>Fix killed mob name localization in graves death message.</li>
    <li>Fix mob living time saved by graves.(it will work correctly now)</li>
    <li>Fix undertake house generation in desert villages.</li>
    <li>Add config option to disable mob spawn at graves destruction.</li>
    <li>Fix editing graves death message by chisel.</li>
    <li>Fixed compatibility bug with ArsMagica + add config options to disable
        any compatibility module(it will be helpfull if you'l catch some bugs in it)
    </li>
    <li>Fixe geme crash with enchanted swords gravestones in creative inventory</li>
    <li>Fix English localization</li>
</ul>
<h3>2.9.7</h3>
<ul>
    <li>All types of gravestones and memorials can be crafted</li>
    <li>Change undertaker's trades - it sells skulls.</li>
    <li>Gravestones and memorials can be harvested by bare hands</li>
</ul>
<h3>2.9.6</h3>
<ul>
    <li>Some fixes death messages + new messages</li>
    <li>No more collisions with graves - you can go through it</li>
    <li>Fix "corpse.name" bug</li>
    <li>Fix graves and memorials generation in desert(it will choose correct type)</li>
    <li>Gravestones/memorials can be harvested without silk touch(but in this case you will lost all information which it stored)</li>
    <li>Add "random message" button to grave edit screen</li>
    <li>Fix gravestones "age message" localization</li>
    <li>Add titles for swords gravestones</li>
    <li>Fix gravestones/memorials picking in creative mode</li>
    <li>Fix NEI highlight bug</li>
    <li>Some generated graves will be created with flowers</li>
    <li>Spawners will drop bone meal and scull candles(with some chance)</li>
    <li>Add Undertaker backpacks (forestry required)</li>
</ul>
<h3>2.9.4</h3>
<ul>
    <li>Portuguese localization (made by LorenzoDCC)</li>
    <li>Fixed "gravestone message bug"(it will be shown with items in hands)</li>
    <li>Fixed "helpful villagers" bug.</li>
    <li>Searching of a free space for graves was fully reworked.</li>
    <li>Graves will show amount of days you have lived</li>
</ul>
<h3>2.9.3</h3>
<ul>
    <li>Flowers can be placed on some types of graves.</li>
</ul>
<h3>2.9.2</h3>
<ul>
    <li>Fix Mariculture compatibility bug.</li>
    <li>Fix "chisel bug" on server.</li>
</ul>
<h3>2.9.1</h3>
<ul>
    <li>fix game crash(remove forestry recipes)</li>
</ul>
<h3>2.9.0</h3>
<ul>
    <li>Rework sword gravestones</li>
    <li>Add thaumcraft swords as a gravestones</li>
    <li>API for swords gravestones</li>
    <li>Graves can be made of wood, sandstone, mossy, iron, gold, diamond, emerald, lapis, redstone, quartz, obsidian and ice</li>
    <li>Memorials can be made of wood, sandstone, mossy, iron, gold, diamond, emerald, lapis, redstone, quartz, obsidian and ice</li>
    <li>If you die by magic your grave will be looked enchanted</li>
    <li>Graves type based on biome and your experience level</li>
    <li>If you die in lava or by fire - your gravestone will be made of obsidian</li>
    <li>Memorials type based on biome</li>
    <li>Rework structures generation - it will not be depended from API of a biomes mods</li>
    <li>Reduce catacombs generation chance</li>
    <li>Reduce graves loot generation chance</li>
    <li>New textures for bone blocks</li>
</ul>
<h3>2.8.6</h3>
<ul>
    <li>Fix game crash</li>
    <li>Fix memorials and skull candles "canUpdate" bug.</li>
    <li>Update French localization</li>
</ul>
<h3>2.8.5</h3>
<ul>
    <li>Sophisticated wolves compatibility.</li>
    <li>Mariculture compatibility.</li>
    <li>TinkerConstruct compatibility.</li>
    <li>RpgInventory compatibility.</li>
    <li>Temporary remove Highlands compatibility (To prevent game crash).</li>
    <li>New Undertaker house.</li>
    <li>Add new console command which allow to fill grave with custom items.</li>
    <li>Add configuration option to disable graves removing messages.</li>
    <li>Fix resurrection issue - it will not use all corpses at usage.</li>
    <li>Fix candle "canUpdate" issue.(it must increase performance a little).</li>
    <li>Fix candle texture.</li>
</ul>
<h3>2.8.4</h3>
<ul>
    <li>Fix server crash</li>
    <li>Fix "candle bug"</li>
    <li>Fix "haunted chest" usage by "fake players"(to prevent "mob greefing") +
        some small changes + configuration option for replacing it by "normal" chest after first usage.
    </li>
</ul>
<h3>2.8.3</h3>
<ul>
    <li>Skull cralwers spawn can be disabled in configuration file (for both 1.6.4 and 1.7.2 versions)</li>
    <li>Night stone "message" can bedisabled in configuration file (for both 1.6.4 and 1.7.2 versions)</li>
    <li>Gravestone death message gui screen was reworked. (for both 1.6.4 and 1.7.2 versions)</li>
    <li>Update German localization (for both 1.6.4 and 1.7.2 versions)</li>
    <li>Update French localization (for both 1.6.4 and 1.7.2 versions)</li>
    <li>Update Chinese localization</li>
    <li>Fix Russian localization</li>
    <li>Fix memorial placing bug</li>
    <li>Fix logger</li>
    <li>Fix "Chisel bug"</li>
    <li>Fix grave GUI (you can set custom text)</li>
    <li>Fix graves title in inventory</li>
    <li>Candles and SkullCandles can be used to stabilize thaumcraft infusion process (1.7.2 version)</li>
    <li>Add Thaumcraft aspects for corpses</li>
    <li>Add "Baubles"(Thaumcraft addon) compatibility (next( &gt; 1.0.0.12) "Baubles" version required) (1.7.2 version)</li>
</ul>
<h3>2.8.2</h3>
<ul>
    <li>Fix font bug</li>
</ul>
<h3>2.8.1</h3>
<ul>
    <li>Fix Candle name</li>
    <li>Czech localization</li>
</ul>
<h3>2.8.0</h3>
<ul>
    <li>New block - Candle</li>
    <li>New blocks - Zombie and Skeleton spawners</li>
    <li>Horses graves</li>
    <li>New items - villagers and pets corpse(it can be use to resurrect this mobs)</li>
    <li>New block - Altar. It used for mob resurrection. ( it will be fully reworked in the future)</li>
    <li>Add crafting recipes for skull candles</li>
    <li>Fix "spawn rate" bug</li>
    <li>Fix broken "grave spawn mechanism"</li>
    <li>Fix memorials death messages</li>
    <li>Improve enchanted effect for sword gravestones</li>
    <li>Add enchanted sword gravestone to creative tab</li>
    <li>Using English localization for unsupported languages.</li>
    <li>Fix some thaumcraft aspects</li>
    <li>Add config for removing empty graves</li>
</ul>
<h3>2.7.1</h3>
<ul>
    <li>Fix game crashing(moCreatures compatibility bug)</li>
</ul>
<h3>2.7.0</h3>
<ul>
    <li>New block - Thunderstone</li>
    <li>Graves can be looted by right click with shovel in hands</li>
    <li>New objects - "Haunted chests"</li>
    <li>New blocks - Bone blocks, slabs, stairs(Textures by Gentle_Stream)</li>
    <li>Made graves creeper resistant</li>
    <li>New objects - Skull candles</li>
    <li>Fix "was killed by unknown" gravestone death message bug</li>
    <li>Fix "entity.*****.name" grave tip in inventory</li>
    <li>Improved graves generation logic - it will try to find free space in range of 5 blocks(if death place occupied)</li>
    <li>Add gravestone recipes</li>
    <li>Remove gravestones from undertaker trade list</li>
    <li>Change statues pedestals</li>
    <li>New mobs - Skull crawlers (Skull crawler, Wither Skull crawler, Zombie Skull crawler)</li>
    <li>Add configuration option for catacombs generation maximum Y-coordinate value</li>
    <li>Change Undead pets biomes - Any type of forest for dogs and jungles for cats</li>
    <li>Add Spanish localization(Thanks to Zernicalo)</li>
    <li>Fix wall in catacombs "creeper room"</li>
    <li>Made Creeper statue realy charged!</li>
    <li>Add horse egg to adventurer grave item list.</li>
    <li>Made it compatible with "The Camper mod"</li>
    <li>Rework Wither spawner model</li>
</ul>
<h3>2.5.1</h3>
<ul>
    <li>Fix crushing game bugs</li>
</ul>
<h3>2.5.0</h3>
<ul>
    <li>Command for generation catacombs/memorials/graves( /generate &lt;structure_name&gt; )</li>
    <li>Add Chinese localization (made by DoraJDJ)</li>
    <li>Fix catacombs and villages crossing</li>
    <li>Fix zombie cats spawn - all types of zombie cats can be spawned now.</li>
    <li>Undead pets cat spawn in some additional biomes from another mods.</li>
    <li>Set maximum naturally spawned undead pets count to 1</li>
    <li>Reduce naturally spawned undead pets chance</li>
    <li>Remove some biomes(from another mods) from catacombs generation list</li>
    <li>Set default saved items by graves to maximum.</li>
    <li>Change minimal grave spawn rate to 600. (1000 by default)</li>
    <li>Remove Twilight Wraith spawn.</li>
    <li>Add configuration option for disabling mo creatures mobs spawn by graves.</li>
    <li>Fix memorials generation in water(I hope)))</li>
    <li>Fix catacombs generation bug( no more catacombs higher 75 Y)</li>
    <li>Some graves mob spawn optimizations</li>
</ul>
<h3>2.4.7</h3>
<ul>
    <li>Add Thaumcraft aspects</li>
    <li>Fix night stone (day will not change any more)</li>
</ul>
<h3>2.4.6</h3>
<ul>
    <li>Add Ars magica compatibility</li>
    <li>Add Battle gear 2 compatibility</li>
</ul>
<h3>2.4.4</h3>
<ul>
    <li>Fix "village bug"</li>
    <li>Add some console logs</li>
</ul>
<h3>2.4.3</h3>
<ul>
    <li>Fix ExtrabiomesXL compatibility bug</li>
    <li>Change chisel reciep (again)</li>
</ul>
<h3>2.4.2</h3>
<ul>
    <li>Fix game crash bug</li>
    <li>Fix compatibility with item saving mods</li>
</ul>
<h3>2.4.1</h3>
<ul>
    <li>Add french localization.</li>
</ul>
<h3>2.4.0</h3>
<ul>
    <li>Add localization for english, german and russian languages.</li>
    <li>Change creeper statues message to "Sssssssss"</li>
    <li>Rework "Highlands" compatibility.</li>
    <li>Night stone show message when you step on it.</li>
    <li>Add configuration which allow to disable night stone.</li>
    <li>Give swords to some skeletons.</li>
    <li>Rework mobs spawn at grave destruction.</li>
    <li>Rework mobs spawn by graves (80% as default. it can be changed in configuration file)</li>
    <li>Increase count of chests in catacombs.</li>
    <li>Increase count of graves rooms in catacombs.</li>
    <li>Add "nether chests" to catacombs.</li>
    <li>Treasury rooms will contain more valuable chests.</li>
    <li>Zombie dogs no more hurt cows and pigs.</li>
    <li>Zombie dogs and cats will kill horses too. At horse death it transform to "Zombie horse"(this is minecraft horses)</li>
    <li>Fix "phantom swords" bug.</li>
    <li>Fix "unvulnerable mobs" bug.</li>
    <li>Name tags and leads can be found only in pets graves.</li>
    <li>Some another fixes and optimization.</li>
</ul>
<h3>2.3.3</h3>
<ul>
    <li>fix "underwater catacombs fence" bug</li>
    <li>fix "underwater graves" at catacomb's graveyard</li>
    <li>fix "server/villager" bug</li>
    <li>"return" weapon for mobs which spawned by graves</li>
    <li>wither skeletons can be spawned with bows/swords</li>
    <li>graves will not replace blocks at player death</li>
    <li>change ground for memorials which spawn on beach</li>
    <li>reduce loot for graves at catacomb's graveyard</li>
    <li>add new room to catacombs</li>
</ul>
<h3>2.3.2</h3>
<ul>
    <li>update for minecraft 1.6.2</li>
    <li>add name tags to pet's graves loot</li>
    <li>add lead to pet's graves loot</li>
</ul>
<h3>2.3.1</h3>
<ul>
    <li>fix crash at villager death</li>
    <li>fix "ExtrabiomesXL crash"</li>
    <li>add Highlands compatibility</li>
</ul>
<h3>2.3.0</h3>
<ul>
    <li>add BiomesO'Plenty compatibility</li>
    <li>add ExtrabiomesXL compatibility</li>
    <li>fix "out of memory" bug.</li>
    <li>some optimisation</li>
</ul>
<h3>2.2.0</h3>
<ul>
    <li>sword graves</li>
    <li>new memorial blocks</li>
    <li>memorials generate in some villages</li>
    <li>graves spawn some mobs from "Mo'creatures" mod if it installed</li>
    <li>graves spawn some mobs from "Twilight Forest" mod if it installed</li>
    <li>graves spawn monsters at thunder too</li>
    <li>when grave harvest there is a chance that it spawn monster.</li>
    <li>warrior's graves always have sword</li>
    <li>warrior's graves use sword as gravestone</li>
    <li>reduce pets graves count</li>
    <li>all graves loot damaged a little</li>
    <li>add new room in catacombs</li>
    <li>reduce grave rooms in catacombs</li>
    <li>increase max level of enchanted books to 5</li>
    <li>add config for custom grave names and death messages</li>
    <li>add config for disabling spawn of undead pets</li>
    <li>fix generation graves under water</li>
    <li>fix generation memorials in ocean</li>
    <li>fix broken grave particles bug</li>
    <li>fix cat grave texture</li>
    <li>fix "GenerateMemorials" config bug</li>
</ul>
<h3>2.1.0</h3>
<ul>
    <li>add gravestones for pets.</li>
    <li>add zombie and skeleton dogs and cats.</li>
    <li>graves show age.</li>
    <li>some special texts for memorial blocks.</li>
    <li>compatibility with senpaisubaraki's gravestone mod.(you must set "GeneratePlayerGraves" to false)</li>
    <li>seed based graves content and text.</li>
    <li>fix chisel bug.</li>
    <li>fix twice death message.</li>
    <li>some fixes in death messages.</li>
    <li>some fixes in undertaker's trades.</li>
    <li>fix loot dropping at cemeteries.</li>
    <li>fix catacombs gates position.</li>
    <li>fix graves rotation in catacombs.</li>
    <li>reduce grave generation.</li>
    <li>configurations for graves spawn rate.</li>
    <li>configurations for graves spawn at death in lava.</li>
    <li>configurations for disabling village structures generation.</li>
    <li>configurations for allowing any type of surface for graves.</li>
</ul>
<h3>2.0.0</h3>
<ul>
    <li>Add 2 new graves</li>
    <li>Add new memorial block</li>
    <li>fix "floating" graves bug</li>
    <li>fix "gamerule: keepInventory" bug</li>
    <li>add console logs for memorials(like for catacombs)</li>
    <li>change default stored items in graves to 10 instead of 0</li>
    <li>increase undertaker spawn chance</li>
</ul>
<h3>2.0.0b1</h3>
<ul>
    <li>SMP support</li>
    <li>fix memorial "itemBlock" size</li>
</ul>
<h3>2.0.0b</h3>
<ul>
    <li>Fully rewrite for Forge</li>
    <li>Remove Player API requirment</li>
    <li>Graves holds death message aftre its harvest</li>
    <li>Add chisel wich can set custom death message</li>
    <li>Add memorial block</li>
    <li>add new villager - undertaker</li>
    <li>fix "pig" bug in wither spawner</li>
    <li>add fence to catacombs</li>
    <li>add webs to catacombs</li>
    <li>add dead bushes to catacombs</li>
    <li>treasury rooms become more hidden</li>
    <li>reduce grave's bones and rotten meat count</li>
    <li>add mob eggs to adventurer's grave (only peacefull creatures)</li>
    <li>on villagers death graves spawn to</li>
    <li>graves can hold your inventory (can be changed in config file)</li>
    <li>graves harvests with silk touch pickaxe (can be changed in config file)</li>
    <li>catacombs can generate in superflat too( undeground will generate only if ground level more than 55)</li>
    <li>add single graves generation around the world</li>
    <li>add memorials generation around the world</li>
    <li>some code optimisation</li>
    <li>new graves texture</li>
</ul>
<h3>1.6.1</h3>
<ul>
    <li>increase catacombs generation chance</li>
</ul>
<h3>1.6.0</h3>
<ul>
    <li>spawn pigzombie and wither skeletons with a small chance in catacombs</li>
    <li>showing "death message" by right click on grave.</li>
    <li>generated graves contains some loot</li>
    <li>Wither's catacombs</li>
    <li>reduced max nearby monster count for spawning monsters by gravestone and
        added requirement any player in range &lt; 35 blocks
    </li>
</ul>
<h3>1.3.1</h3>
<ul>
    <li>some changes in cemetery code, wich make it more compatible</li>
    <li>change installation way, now you can put zip file in a mod folder</li>
</ul>
<h3>1.3.0</h3>
<ul>
    <li>use "player Api" mod to prevent base clases changes</li>
    <li>fix game crash at monsters spawn ( need more tests)</li>
    <li>fix losing spawn ability after game reloading</li>
</ul>
<h3>1.2.0</h3>
<ul>
    <li>generation of cemeteries in some villages</li>
</ul>
<h3>1.1.1</h3>
<ul>
    <li>Fix Forge mods compability</li>
</ul>
<h3>1.1.0</h3>
<ul>
    <li>fix texture bug at placing gravestone</li>
    <li>add spawnning monsters at night</li>
</ul>